[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,TODO
ignore-paths=test/*
# Nothing to worry about, they're warnings about documentation (classes, methods, etc) and deprecated functions
disable=C0112,C0115,R0903,C0114,C0116,W0402
